@import "normalize.styl"
@import "fonts01.styl"
@import "nib"

gris_oscuro = #333333
azul_tw = #5FA9DD
azul_fb = #3D5A98
a 
	color white
	text-decoration none
body
	font-size 16px

figure
	margin 0
footer
	background gris_oscuro

.bt-fb
.bt-tw
	padding-left 4.25em
.bt-fb
	background azul_fb
.bt-tw
	background azul_tw
.boton
	border-radius 5px
	display block
	height 57px
	line-height 57px
	margin-bottom 1em
	text-align left
	width 202px

.wrap
	background url("../img/fondo_header.png") no-repeat center center
	background-size cover
	color white
	height 500px
	h1
		font-size 1.4em
		margin-bottom 2.5em
		padding 0
		text-align center
		white-space pre-line
	.logo
		margin-bottom 1.75em
		padding-top 6.25em
		text-align center
		img
			width 242px
	a
		margin 0 auto
	.bt-fb
		margin-bottom 0.5em
.imagen
	img 
		width 400px
.articulo
	.imagen
		margin 1em auto

.relative
	position relative