@import "normalize.styl"
@import "fonts01.styl"
@import "nib"

gris_oscuro = #333333
gris_claro = #686868
gris_mas_claro = #D0D2D3
azul_tw = #5FA9DD
azul_fb = #3D5A98
azul_borde = #243554
azul_borde_tw = #478BB5

a 
	color white
body
	font-size 16px

figure
	margin 0
footer
	background gris_oscuro
	height 2.5em
	overflow hidden
	margin-top 2em
	.info
		position absolute
		top 0
		margin-right 1em
		right 0
	.footer-imagen
		margin-top 0.5em
		margin-left 1em
p 
	margin 0
.acceso
	height 2.5em
	line-height 2.5em
	font-size 0.8em
	overflow hidden
	margin 0.5em 0 2em 4em
	max-width 234px
	.login
	.cr-login
		color gris_claro
		display block
	.cr-login
		 border-left 1px solid gris_claro 
		 padding-left 2.5em
.articulo
	text-align center
	span
		color gris_oscuro
		font-size 1.1em
	p 
		color gris_claro
		margin 1em auto 0 auto
		white-space pre-line
		width 270px
	#parrafo
		border-bottom 1px solid gris_mas_claro
		margin-bottom 1em
		padding-bottom 2em
	.imagen
		margin 1em auto 2em auto
.bt-fb
	background azul_fb
	&:before
		border-right 2.5px solid azul_borde
		content "\e602"
		font-family 'sfotipy01'
		font-size 1.3em
		margin 0 0.5em 0 1.2em
		padding 0.4em 1em 0.4em 0
		speak none
		vertical-align middle
.bt-tw
	background azul_tw
	&:before
		border-right 2.5px solid azul_borde_tw
		content "\e603"
		font-family 'sfotipy01'
		font-size 1.3em
		margin 0 0.5em 0 1.2em
		padding 0.4em 1em 0.4em 0
		speak none
		vertical-align middle

.boton
	border-radius 5px
	display block
	font-size 0.7em
	height 45px
	line-height 45px
	text-align left
	text-decoration none
	width 220px

.wrap
	background url("../img/fondo_header.png") no-repeat center center
	background-size cover
	color white
	height 500px
	h1
		font-size 1.5em
		margin-bottom 2.5em
		padding 0
		text-align center
		white-space pre-line
	.logo
		margin-bottom 1.75em
		padding-top 6.25em
		text-align center
		img
			width 242px
	a
		margin 0 auto
	.bt-fb
		margin-bottom 0.5em
.imagen
	img 
		width 100%

.relative
	position relative
.left
	float left
.right 
	float right